@page "/Agent/Report"


<section class="section">
    <div class="columns is-centered">
        <div class="column is-4">
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child box">
                        <p class="title">Filter(s)</p>
                        <EditForm Model="_search" OnValidSubmit="HandleSearch">
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                            <div class="field">
                                <div class="control">
                                    <InputText class="input is-primary" placeholder="Client" @bind-Value="_search.Client" />
                                    <ValidationMessage For="@(() => _search.Client)" />
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select class="form-select">
                                            <option value="">-- Source Table --</option>
                                            @foreach (var item in _sourceTables)
                                            {
                                                if (_search.SourceTable.HasValue && _search.SourceTable.Value == item.Id)
                                                {
                                                    <option value="@item.Id" selected="selected">@item.SourceTable1</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.SourceTable1</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select class="form-select">
                                            <option value="">-- Campaign --</option>
                                            @foreach (var item in _projectTable)
                                            {
                                                if (_search.Project.HasValue && _search.Project.Value == item.Id)
                                                {
                                                    <option value="@item.Id" selected="selected">@item.ProjectCode1</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.ProjectCode1</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select class="form-select">
                                            <option value="">-- Agent --</option>
                                            @foreach (var item in _agentTable)
                                            {
                                                if (_search.Agent.HasValue && _search.Agent.Value == item.Id)
                                                {
                                                    <option value="@item.Id" selected="selected">@item.AgentId - @item.AgentName</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.AgentId - @item.AgentName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>