@page "/TermCodes/Correction"
@inject IJSRuntime js;

<PageTitle>Keys360 Reporting - Agent Report</PageTitle>
<PageDisplayTitle Title="Agent Report" Sub="Agent Results Report" />
<ErrorMessage Message="@_errorMessage" />
<WarnMessage Message="@_warnMessage" />
<SuccessMessage Message="@_successMessage" />
<LoadingMessage Message="@_loadingMessage" />

<section class="section">

    @if (_editTermCode)
    {
        <EditForm Model="_termCodeEdit" OnValidSubmit="HandleEditTerm">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="modal is-active">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Line Editor: @_termCodeEdit.Account</p>
                        <div class="delete" aria-label="close" @onclick=@(() => ToggleEdit(null))></div>
                    </header>
                    <section class="modal-card-body">
                        <div class="field">
                            <label class="heading">Term Code</label>
                            <div class="control">
                                <div class="select is-fullwidth is-danger">
                                    <select class="form-select" @onchange="HandleTermCodeChange">
                                        <option value="">-- Term Code --</option>
                                        @foreach (var termCode in _termCodeList)
                                        {
                                            if (_termCodeEdit.TermCodeID.HasValue && _termCodeEdit.TermCodeID == termCode.Id)
                                            {
                                                <option value="@termCode.Id" selected="selected">@termCode.Alias</option>
                                            }
                                            else
                                            {
                                                <option value="@termCode.Id">@termCode.Alias</option>
                                            }
                                        }
                                    </select>
                                    <ValidationMessage For="@(() => _termCodeEdit.TermCodeID)" />
                                </div>
                            </div>
                        </div>
                        <div class="level">
                            <div class="level-item has-text-centered">
                                <div class="field">
                                    <label class="heading">Total PTP</label>
                                    <div class="control">
                                        <InputNumber class="input is-primary" @bind-Value="_termCodeEdit.TotalPtp" />
                                        <ValidationMessage For="@(() => _termCodeEdit.TotalPtp)" />
                                    </div>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div class="field">
                                    <label class="heading">Double Dip</label>
                                    <div class="control">
                                        <InputNumber class="input is-primary" @bind-Value="_termCodeEdit.DblDip" />
                                        <ValidationMessage For="@(() => _termCodeEdit.DblDip)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <footer class="modal-card-foot">
                        <button class="button is-success @_buttonClass">Save</button>
                    </footer>
                </div>
            </div>
        </EditForm>
    }

    <div class="columns is-centered">
        <div class="column @(_termcodeReport?.Count > 0 ? "is-2" : "is-4")">
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child box" id="divSearch">
                        @if (_newTermCode)
                        {
                            <p class="title">New File</p>
                            <EditForm Model="_search" OnValidSubmit="HandleNewTerm">
                                <DataAnnotationsValidator />
                                <ValidationSummary />
                                <div class="field">
                                    <label class="heading">Agent</label>
                                    <div class="control">
                                        <div class="select is-fullwidth is-danger">
                                            <select class="form-select" @onchange="AgentChange">
                                                <option value="">-- Agent --</option>
                                                @foreach (var agent in _agentList)
                                                {
                                                    <option value="@agent.Id">@agent.AgentName</option>
                                                }
                                            </select>
                                            <ValidationMessage For="@(() => _termCodeAdd.AgentID)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="heading">Project</label>
                                    <div class="control">
                                        <div class="select is-fullwidth is-danger">
                                            <select class="form-select" @onchange="ProjectChange">
                                                <option value="">-- Project --</option>
                                                @foreach (var project in _projectList)
                                                {
                                                    <option value="@project.Id">@project.ProjectCode1</option>
                                                }
                                            </select>
                                            <ValidationMessage For="@(() => _termCodeAdd.ProjectID)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="heading">Term Code</label>
                                    <div class="control">
                                        <div class="select is-fullwidth is-danger">
                                            <select class="form-select" @onchange="HandleTermCodeNewChange">
                                                <option value="">-- Term Code --</option>
                                                @foreach (var termCode in _termCodeList)
                                                {
                                                    <option value="@termCode.Id">@termCode.Alias</option>
                                                }
                                            </select>
                                            <ValidationMessage For="@(() => _termCodeAdd.TermCodeID)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="heading">Account</label>
                                    <div class="control">
                                        <InputText class="input is-danger" @bind-Value="_termCodeAdd.Account" required="required" />
                                        <ValidationMessage For="@(() => _termCodeAdd.Account)" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="heading">Date</label>
                                    <div class="control">
                                        <InputDate class="input is-danger" @bind-Value="_termCodeAdd.FileDate" required="required" />
                                        <ValidationMessage For="@(() => _termCodeAdd.FileDate)" />
                                    </div>
                                </div>
                                <div class="level">
                                    <div class="level-item has-text-centered">
                                        <div class="field">
                                            <label class="heading">Total PTP</label>
                                            <div class="control">
                                                <InputNumber class="input is-primary" @bind-Value="_termCodeAdd.TotalPtp" />
                                                <ValidationMessage For="@(() => _termCodeAdd.TotalPtp)" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="level-item has-text-centered">
                                        <div class="field">
                                            <label class="heading">Double Dip</label>
                                            <div class="control">
                                                <InputNumber class="input is-primary" @bind-Value="_termCodeAdd.DblDip" />
                                                <ValidationMessage For="@(() => _termCodeAdd.DblDip)" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="buttons">
                                    <button type="submit" class="button is-success @_buttonClass">Save</button>
                                </div>
                            </EditForm>
                        }
                        else
                        {
                            <p class="title">Filter(s)</p>
                            <EditForm Model="_search" OnValidSubmit="HandleSearch">
                                <DataAnnotationsValidator />
                                <ValidationSummary />
                                <div class="field">
                                    <label class="heading">Account</label>
                                    <div class="control">
                                        <InputText class="input is-danger" @bind-Value="_search.Account" required="required" />
                                        <ValidationMessage For="@(() => _search.Account)" />
                                    </div>
                                </div>
                                <hr />
                                <div class="buttons">
                                    <button type="submit" class="button is-primary @_buttonClass">Search</button>
                                    <a class="button is-success @_buttonClass" @onclick=@(() => ToggleNew())>New</a>
                                </div>
                            </EditForm>
                        }
                    </div>
                </div>
            </div>
        </div>
        @if (_termcodeReport?.Count > 0)
        {
            <div class="column is-10">
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <div class="tile is-child box">
                            <p class="title">Term Codes</p>
                            <table class="table is-striped is-fullwidth" style="font-size:14px">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td>Account</td>
                                        <td>Campaign</td>
                                        <td>Date</td>
                                        <td>Term Code</td>
                                        <td>Alias</td>
                                        <td>Category</td>
                                        <td>TotalPTP</td>
                                        <td>DblDip</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var line in _termcodeReport)
                                    {
                                        <tr>
                                            <td>
                                                <a @onclick=@(() => ToggleEdit(@line.Id))><span class="material-icons">edit</span></a>
                                            </td>
                                            <td>@line.Account</td>
                                            <td>@line.ProjectList.ProjectCode1</td>
                                            <td>@line.LastWriteTime.Value.ToString("MMM dd yyyy")</td>
                                            <td>@line.TermCode.TermCode1</td>
                                            <td>@line.TermCode.Alias</td>
                                            <td>@line.TermCode.Category.Category</td>
                                            <td>@line.TotalPtp</td>
                                            <td>@line.DblDip</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

